body{
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px
}

h1,h2,h3 {
    line-height:1.2
}

.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    text-align: end;
}

input.small_number {
    width: 3em;
}

#goal {
    width: 12em;
}

#content > div {
    padding: 0.5em 0;
}

#graph {
    border: 1px solid black;
}

#graph_line {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

#graph_highlights > circle {
    fill: rgb(206, 40, 40);
}